link(rel="stylesheet", type="text/css", href="sass.css")
.count
  .minus -
  .num 12
  .add +
  .text 警示信息
  .fill_stock 请点此联络供应商预约存货
  























  script(type="text/javascript" src="jQuery.js")
  script(type="text/javascript" src="js.js")
